body {
    background-color:$primary-color;
    color:$text-color;
}

a {
    color: $link-color;
    &:visited {
        color: $link-color;
    }
}

.header {
    border-top:5px solid $accent-color;
    background-color:$secondary-color;
    .nav-container {
        padding: 0 30px;
    }
}

.home {
    .feature {
        background-color:$secondary-color;
        display:flex;
        justify-content:center;
        align-items:center;
        min-height:80vh;
        & > * {
            margin: 0 100px;
        }
        .title {
            h1 {
                font-size: 60px;
                text-transform: uppercase;
                font-family:$primary-font;
                line-height: 1;
                margin: 0;
            }
            h2 {
                font-size: 45px;
                text-transform: uppercase;
                font-family:$secondary-font;
                line-height: 1;
                margin: 0;
                color: lighten($text-color, 15%);
            }
        }
        .links {
            ul {
                list-style:none;
                margin: 0;
                padding: 0;
                li + li {
                    margin-top: 15px;
                }
                li {
                    a {
                        color:$text-color;
                        i {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}

.projects {
    margin-bottom:50px;
    h1 {
        text-align: center; 
        font-family:$primary-font; 
        text-transform: uppercase;
        font-size: 2.5em;
        position: relative;
        margin: 30px 0;
        color:#fff;
        &:after {
            position: absolute;
            content:'';
            width: 100px;
            background-color:#fff;
            height:2px;
            left:50%;
            margin-left:-50px;
            bottom:0;
        }
    }
    .images {
        margin-top: -75px;
        display:flex;
        justify-content:center;
        > div {
            background: #fff;
            margin: 0 30px;
            border-radius:50%;
        }
        img {
            border-radius:50%;
            width:150px;
            height:150px;
            opacity: .875;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
             filter: grayscale(100%);
        }
    }

    .projects-container {
        display:flex;
        flex-direction:row;
        justify-content:center;
        flex-wrap: wrap;
        .project {
            max-width:500px;
            background-color:rgba($secondary-color, 80%);
            padding:15px;
            color:$text-color;
            margin: 0 15px 30px;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            .project-image {
                img {
                    margin:0 auto;
                    display:block;
                }
                
            }
            .project-meta {
                    list-style:none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                    }
                    li.tag  {
                        font-family:$secondary-font;
                        background:$primary-color;
                        border-radius:15px;
                        font-size: .85em;
                        padding: 2px 5px;
                        color:$text-color-light;
                    }
                }
            .project-content {
                
            }
            
        }
    }

}