$primary-color: #df4d19ad;
$secondary-color:   #EEEEF0;
$accent-color: #DF4D19;
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Open Sans Condensed', sans-serif;
$link-color: #2a7ae2;
$text-color: #2d2d2d;