---
layout: default
---

<div class="home">

  <div class="feature">

    <div class="title">
      {%- if page.my_name -%}
        <h1>{{ page.my_name }}</h1>
      {%- endif -%}

      {%- if page.my_title -%}
        <h2>{{ page.my_title }}</h2>
      {%- endif -%}
    </div>

    <div class="links">
      <ul>
        <li><a href="https://github.com/TheShrug" target="_blank" title="My Github Profile"><i class="fab fa-github fa-fw"></i>github.com/TheShrug</a></li>
        <li><a href="https://www.linkedin.com/in/Stewart-G/" target="_blank" title="My Linkedin Profile"><i class="fab fa-linkedin fa-fw"></i>linkedin.com/in/Stewart-G</a></li>
        <li><a href="mailto:stewart.m.gordon@gmail.com" title="Email me!"><i class="far fa-envelope fa-fw"></i>stewart.m.gordon@gmail.com</a></li>
      </ul>
    </div>

  </div>

  {%- include projects.html -%}


</div>
